Requirements:
        
Your application must support three types of player:
        
     Human Player
    The user must be prompted for a selection of Rock, Paper or Scissors for each turn
            
     Random Computer Player
    The random computer player should automatically select one of Rock, Paper or Scissors at random
    for each turn
            
     Tactical Computer Player
    The tactical computer player should always select the choice that would have beaten its last choice,
    e.g. if it played Scissors in game 2, it should play Rock in game 3. It does not need to take the other
    player’s move into account.
        
You must demonstrate that your solution implements all the above requirements correctly.
You must write high-quality code, using whatever principles you decide appropriate, and list any refactoring that you could make in the future.
        
Extensions
The following are some of the possible extensions that may be made to the application at a later date.
You do not need to implement these, but they should be considered in your design.
        
     New player types: we may want to add new computer player implementations as tactics improve
        
     Longer matches: we may want to change the match format to “best of 5” at a later date
        
     New “moves”: we may expand the possible moves that each player can make (e.g. Rock, Paper, Scissors, Lizard, Spock)
